.password-recovery{
    margin-top: 300px;
    form{
        position: relative;
        .form-underline{
            padding: 10px 70px 10px 5px;
            border: none;
            position: relative;
            border-bottom: 1px solid #000;
            font-size:25px;
            display: block;
            margin-top: 20px;
        }
    }
    .submit-btn{
        display: inline-block;
        text-decoration: none;
        margin-top: 50px;
        background-color: #223260;
        border: none;
        padding: 8px 160px;
        color: #fff;
        border-radius: 5px;
        font-weight: 500;
    }
}